---
title: SciamLab Blog
---
{% include header.html %}
        <div class="main-content">
            <div class="container">
                <div class="row show-grid">
                    <div class="span12">
                        <div id="breadcrumb">
                        <ul>
                            <li class="home"><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li>Blog (Right Sidebar)</li>
                        </ul>
                        </div>
                    </div>
                    <div class="span12">                        
                        <div class="row show-grid clear-both">
                            
                            <div class="span9 main-column two-columns-right">
                                <div class="post-item">
                                    <h2>Effective SEO for Site Managers</h2>
                                    <img alt="" src="img/blog04.jpg" />
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi</p>
                                    <a class="post-more" href="#">Continue Reading&nbsp;&raquo;</a>
                                    <div class="post-item-panel">
                                        <ul>
                                            <li class="date">
                                              <p><i class="icon-calendar"></i>July 08, 2012</p></li>
                                            <li><p><i class="icon-user"></i>by Admin</p></li>
                                            <li><p><i class="icon-tags"></i><a href="">marketing</a>, <a href="">SEO</a></p></li>
                                            <li class="comments"><p><i class="icon-comments-alt"></i><span>2 comments</span></p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <h2>Time Management for Designers</h2>
                                    <img alt="" src="img/blog01.jpg" />
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi</p>
                                    <a class="post-more" href="#">Continue Reading&nbsp;&raquo;</a>
                                    <div class="post-item-panel">
                                        <ul>
                                            <li class="date">
                                              <p><i class="icon-calendar"></i>July 07, 2012</p></li>
                                            <li><p><i class="icon-user"></i>by Admin</p></li>
                                            <li><p><i class="icon-tags"></i><a href="#">time management</a>, <a href="#">design</a></p></li>
                                            <li class="comments"><p><i class="icon-comments-alt"></i><span>2 comments</span></p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="right-sidebar" class="span3 sidebar">
                                <div class="sidebar-news-widget sidebar-block">
                                    <h2>Recent Posts Widget</h2>
                                    <ul>
                                        <li>
                                            <a class="photo" href="#">
                                                <img alt="" src="img/blog-widget08.jpg" />
                                            </a>
                                            <p>
                                            <a href="">More Icons Added
                                                to WP Theme</a>
                                            </p>
                                            <p class="date"><i class="icon-calendar"></i>July 27, 2012</p>
                                        </li>
                                        <li>
                                            <a class="photo" href="#">
                                                <img alt="" src="img/blog-widget09.jpg" />
                                            </a>
                                            <p>
                                            <a href="">reDesign WP Theme
                                                now available
                                                on ThemeForest</a>
                                            </p>
                                            <p class="date"><i class="icon-calendar"></i>June 22, 2012</p>
                                        </li>
                                        <li>
                                            <a class="photo" href="#">
                                                <img alt="" src="img/blog-widget10.jpg" />
                                            </a>
                                            <p>
                                            <a href="">Optimizing Images for Search Engines</a>
                                            </p>
                                            <p class="date"><i class="icon-calendar"></i>June 17, 2012</p>
                                        </li>
                                    </ul>
                                </div>


                                <div class="comments-widget sidebar-block">
                                    <h2>Recent Comments</h2>
                                    <ul>
                                        <li>
                                            <p>noname on <a href="#">More Icons Added
                                                    to WP Theme</a></p>
                                        </li>
                                        <li>
                                            <p>noname on <a href="#">More Icons Added
                                                    to WP Theme</a></p>
                                        </li>
                                        <li>
                                            <p>admin on <a href="#">reDesign WP Theme
                                                    now available on ThemeForest</a></p></li>
                                        <li>
                                            <p>helloworld on <a href="#">reDesign WP
                                                    Theme now available on ThemeForest</a></p>
                                        </li>
                                        <li>
                                            <p>noname on <a href="#">More Icons Added
                                                    to WP Theme</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <hr />
                <div class="main-block clients">
                    <div class="title-wrapper">
                        <h2>Our Clients</h2>
                    </div>
                    <div id="clients" class="row show-grid clear-both">
                        <div class="span12">
                            <div class="row show-grid">
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client1.jpg" />
                                </div>
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client2.jpg" />
                                </div>
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client3.jpg" />
                                </div>
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client4.jpg" />
                                </div>
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client5.jpg" />
                                </div>
                                <div class="span2 hp-wrapper">
                                    <img alt="" src="img/client6.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent-tweets">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12 twitter-wrapper">
                            <div id="nav_t"></div>
                            <div class="tweets-slide"><ul class="slides"></ul></div>
                            <a class="follow_img" href="#"><img alt="" src="img/follow.png" /></a>
                        </div>
                    </div>    
                </div>           
            </div>
        </div>
{% include footer.html %}
