---
title: SciamLab Blog
layout: default
---
<!-- BEGIN MAIN CONTENT -->
        <div class="main-content">
            <div class="container">
                <div class="row show-grid">
                    <div class="span12">
                        <div id="breadcrumb">
                        <ul>
                            <li class="home"><a href="#">Home</a></li>
                            <li>Blog</li>
                        </ul>
                        </div>
                    </div>
                    <div class="span12">                        
                        <div class="row show-grid clear-both">
                            
                            <div class="span9 main-column two-columns-right">
							<!-- post main loop -->
							{% for post in site.posts limit:3 %}
                                <div class="post-item">
                                    <h2>{{ post.title}}</h2>
                                    <img alt="" src="" />
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi</p>
                                    <a class="post-more" href="{{ post.url }}">Continue Reading&nbsp;&raquo;</a>
                                    <div class="post-item-panel">
                                        <ul>
                                            <li class="date">
                                              <p><i class="icon-calendar"></i>{{ post.date | date_to_long_string}}</p></li>
                                            <li><p><i class="icon-user"></i>{{ post.suthor }}</p></li>
                                            <li><p><i class="icon-tags"></i><a href="">marketing</a>, <a href="">SEO</a></p></li>
                                            <li class="comments"><p><i class="icon-comments-alt"></i><span>2 comments</span></p></li>
                                        </ul>
                                    </div>
                                </div>
							{% endfor %}
                            </div>
                            
							{% include sidebar.html %}
                            
                        </div>
                    </div>
                    
                </div>
                <hr />
            </div>
            <div class="recent-tweets">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12 twitter-wrapper">
                            <div id="nav_t"></div>
                            <div class="tweets-slide"><ul class="slides"></ul></div>
                            <a class="follow_img" href="#"><img alt="" src="img/follow.png" /></a>
                        </div>
                    </div>    
                </div>           
            </div>
        </div>
<!-- END MAIN CONTENT -->
