<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <!--  SEO STUFF START HERE -->
    <title>{{ page.title }}</title>
    <meta name="keywords" content="knowledge data management amaca wscm process open big opendata bigdata machine learning algorithm environment smart devices city waste ckan socrata">
    <meta name="description" content="">
    <meta name="author" content="SciamLab Team">
    <meta name="robots" content="follow, index">
    <!--  SEO STUFF END -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  revolution slider plugin : begin -->
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/rs-responsive.css" media="screen">
    <!--  revolution slider plugin : end -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/isotope.css">
    <link rel="stylesheet" href="/css/color_scheme.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome-ie7.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen">
    <link href="/images/sciamlab.ico" rel="shortcut icon">
    <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />        <![endif]-->
    <!-- Used by Google Plus -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <!-- g:page href="https://plus.google.com/103228027286969347186"></g:page -->
    <link href="https://plus.google.com/" rel="publisher" />
    
  </head>
  <body>
    <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
    <div class="top_line"></div>
    <!-- HEADER AREA -->
    <header>
      <div class="container">
        <div class="row">
          <!-- HEADER: LOGO AREA -->
          <div class="span4 logo"> <a class="logo" href="index.html"> <img alt="logo"
                title="SciamLab" src="/images/sciamlab_logo_small.png"> </a> </div>
          <div class="span5 offset3">
            <!-- HEADER: PHONE NUMBER -->
            <p class="head_phone">Knowledge Data Management</ br> and Software Engineering</p>
            
          <!-- /div -->
          <!-- HEADER: SOCIAL ICONS -->
          <ul class="socials unstyled">
            <li><a class="twitter" href="http://twitter.com/sciamlab"></a><br>
            </li>
            <li><a class="facebook" href="https://www.facebook.com/sciamlab.engineering"></a><br>
            </li>
            <li><a class="gplus" href="https://plus.google.com/103228027286969347186?prsrc=3" data-rel="publisher" target="_top"></a><br>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <!-- HEADER: PRIMARY SITE NAVIGATION -->
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <div class="buttons-container"> </div>
              <div class="nav-collapse">
                <ul class="nav nav-pills">
                  <li class="single"><a href="index.html">HOME</a></li>
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                      href="#menu1"> PRODUCTS </a>
                    <ul class="dropdown-menu">
                      <li><a href="/products/amaca_ss.html">Amaca Search Studio</a></li>
                      <li><a href="/products/amaca_cde.html">Amaca Content Discovery Engine</a></li>
                      <li><a href="/products/amaca_cee.html">Amaca Content Enrichment Engine</a></li>
                      <li><a href="/products/amaca_geoevent.html">Amaca Data API</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                      href="#menu2"> SERVICES AND SOLUTIONS </a>
                    <ul class="dropdown-menu">
                      <li><a href="/solutions/bdh_services.html">BigData and Hadoop Professional Services</a></li>
                      <li><a href="/solutions/pd_services.html">Public Data Professional Services</a></li>
                      <li><a href="/solutions/amaca_pdms.html">Amaca Public Data Mining Platform</a></li>
                      <li><a href="/solutions/swcp.html">Smart Waste Collection Solution</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                      href="#menu3"> COMPANY </a>
                    <ul class="dropdown-menu">
                      <li><a href="/company/about.html">About</a></li>
                      <li><a href="/company/contact.html">Contact</a></li>
                      <li><a href="/company/faq.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li class="active single"> <a href="http://blog.sciamlab.com"> BLOG</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

