<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <!--  SEO STUFF START HERE -->
    <title>{{ page.title }}</title>
    <meta name="keywords" content="knowledge data management amaca wscm process open big opendata bigdata machine learning algorithm environment smart devices city waste ckan socrata">
    <meta name="description" content="">
    <meta name="author" content="SciamLab Team">
    <meta name="robots" content="follow, index">
    <!--  SEO STUFF END -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  revolution slider plugin : begin -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/rs-responsive.css" media="screen">
    <!--  revolution slider plugin : end -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/isotope.css">
    <link rel="stylesheet" href="css/color_scheme.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen">
    <link href="/images/sciamlab.ico" rel="shortcut icon">
    <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />        <![endif]-->
    <!-- Used by Google Plus -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <!-- g:page href="https://plus.google.com/103228027286969347186"></g:page -->
    <link href="https://plus.google.com/" rel="publisher" />
    
  </head>
  <body>
    <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
    <div class="top_line"></div>
    <!-- HEADER AREA -->
    <header>
      <div class="container">
        <div class="row">
          <!-- HEADER: LOGO AREA -->
          <div class="span4 logo"> <a class="logo" href="index.html"> <img alt="logo"
                title="SciamLab" src="images/sciamlab_logo_small.png"> </a> </div>
          <div class="span5 offset3">
            <!-- HEADER: PHONE NUMBER -->
            <p class="head_phone">Knowledge Data Management</ br> and Software Engineering</p>
            
          <!-- /div -->
          <!-- HEADER: SOCIAL ICONS -->
          <ul class="socials unstyled">
            <li><a class="twitter" href="http://twitter.com/sciamlab"></a><br>
            </li>
            <li><a class="facebook" href="https://www.facebook.com/sciamlab.engineering"></a><br>
            </li>
            <li><a class="gplus" href="https://plus.google.com/103228027286969347186?prsrc=3" data-rel="publisher" target="_top"></a><br>
            </li>
            <li>
<!--
            <div class="btn-group">
  <button class="btn btn-small btn-info"><img src="img/ita.png">ITA</button>
  <button data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
-->
            </li>
          </ul>
        </div>
        </div>
      </div>
      <!-- HEADER: PRIMARY SITE NAVIGATION -->
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <div class="buttons-container"> </div>
              <div class="nav-collapse">
                <ul class="nav nav-pills">
                  <li class="active single"><a href="http://www.sciamlab.com/">HOME</a></li>
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                      href="#menu1"> PRODUCTS </a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.sciamlab.com/opendatahub">Open Data Hub Italia</a></li>
                      <li><a href="http://www.sciamlab.com/amaca">Amaca Platform</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                      href="#menu3"> COMPANY </a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.sciamlab.com/company/about.html">About</a></li>
                      <li><a href="http://www.sciamlab.com/company/contact_us">Contact</a></li>
                    </ul>
                  </li>
                  <li class="single"> <a href="/"> BLOG</a>
                  </li>
                </ul>
                <div class="container" style="float: right;">
<div class="btn-group">
  <button class="btn btn-small btn-info"><img src="img/eng.png"> ENG</button>
  <button data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#"><img src="img/ita.png"> ITA</a></li>
    <li><a href="#"><img src="img/deu.png"> DEU</a></li>
  </ul>
</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

